.army {
    position: absolute;
    /* transition: top 0.5s, left 0.5s, right 0.5s, bottom 0.5s; */
    /* transition: 0.5s; */
    /*transition: transform 0.5s ease-in-out;*/
    z-index: 15;
  
    &:hover .life-bar {
      opacity: 1;
    }
  }

.active {
  outline: 2px solid red;
}

/* Faction: HUMAN losnoth-kingdom */
  
.army-human-losnoth-kingdom-knight {
  background-image: url("../src/assets/units/army-human-losnoth-kingdom-knight.gif");
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* Faction: ORC adhark-kingdom */

.army-orc-adhark-kingdom-knight {
  background-image: url("../src/assets/units/army-orc-adhark-kingdom-knight.gif");
  background-size: cover;
  width: 100%;
  height: 100%;
}
  