.unitMenu {
  position: fixed;
  z-index: 20;
  background-color: black;
  padding: 20px;
  width: 200px;
  margin-top: 100px;
  margin-left: 50px;

  button {
    width: 100%;
    padding: 10px 6px;
    border-radius: 0;

    &:hover {
      background-color: darkgreen;
    }

    &:hover:not(:disabled) {
      background-color: darkgreen;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: #444;
      color: #888;
    }
  }
}
