.unitMenu {
  position: absolute;
  z-index: 999;
  background-color: black;
  padding: 20px;
  width: 200px;
  margin-top: 100px;
  margin-left: 50px;

  button {
    width: 100%;
    padding: 10px 6px;
    border-radius: 0;

    &:hover {
      background-color: darkgreen;
    }

    &:hover:not(:disabled) {
      background-color: darkgreen;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: #fff;
      color: #888;
    }
  }
}

.armyList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow-y: auto;
  background-color: black;
  padding: 30px;
  z-index: 999;
}

.armyListRows {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
