.main-container {
  position: relative;
}

.grid-container-over-a {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  opacity: 0.7;
  z-index: 9;
}

.grid-container-over-a .range-map {
  display: grid;
  grid-template-columns: repeat(20, 54px);
  grid-gap: 0px;
}

@keyframes fade {
  0% {
    background-color: rgba(255, 0, 0, 0.7);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.7);
  }
}

@keyframes fadePath {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 1);
  }
}

.range-block {
  position: absolute;
  animation: fade 2s infinite;
  width: 100%;
  height: 100%;
  z-index: 10;

  .path {
    animation: fadePath 2s infinite;
    width: 100%;
    height: 100%;
  }
}

/* TERRAIN */

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 54px);
  grid-gap: 0px;
  z-index: 5;
}

.grid-item {
  width: 54px;
  height: 54px;
  position: relative;
}

.type-G {
  /* grass */
  /*background-color:aquamarine;*/
  background-image: url("../src/assets/terrain/terrain-grass.png");
}

.type-F {
  /* forest */
  /* background-color:darkolivegreen;  */
  background-image: url("../src/assets/terrain/arvore-01.png"),
    url("../src/assets/terrain/terrain-grass.png");
}

.type-M {
  /* mountain */
  /* background-color:brown; */
  background-image: url("../src/assets/terrain/terrain-mountain.png"),
    url("../src/assets/terrain/terrain-grass.png");
}

.type-S {
  /* sand */
  /* background-color:khaki;  */
  background-image: url("../src/assets/terrain/terrain-sand.png");
}

.type-W {
  /* waves */
  /* background-color:blue;  */
  background-image: url("../src/assets/terrain/terrain-water.gif");
}
