.life-bar {
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 1s;
}

.unit {
  &:hover .life-bar {
    opacity: 1;
  }
}

/**/

.type-S.human-city {
  background-image: url("../src/assets/bases/human_city.png"),
    url("../src/assets/terrain/terrain-sand.png");
}

.type-G.human-city {
  background-image: url("../src/assets/bases/human_city.png"),
    url("../src/assets/terrain/terrain-grass.png");
}

.type-S.orc-city {
  background-image: url("../src/assets/bases/orc_city.png"),
    url("../src/assets/terrain/terrain-sand.png");
}

.type-G.orc-city {
  background-image: url("../src/assets/bases/orc_city.png"),
    url("../src/assets/terrain/terrain-grass.png");
}