.base {
  position: relative;
}

.base:hover .life-bar {
  opacity: 1;
}

.base-0-city {
  background-image: url("../src/assets/bases/human_city.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.base-1-city {
  background-image: url("../src/assets/bases/orc_city.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
